/* Stili generali */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 20px;
    color: #333;
  }
  
  p {
    font-size: 1.2em;
    color: #2c3e50;
  }
  
  /* Contenitore del form */
  .form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 450px;
    margin-bottom: 45px;
  }

  /* Toolbar */
.toolbar {
    background-color: #3498db;
    color: white;
    padding: 5px;
    border: 15%;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 30;
  }

  /* Stile del testo della toolbar */
.toolbar h1 {
  margin: 0;
  font-size: 2em;  /* Dimensione del font */
  font-family: 'Helvetica', sans-serif;  /* Font della toolbar */
  font-weight: normal;  /* Peso del font */
}
  
  /* Form group */
  .form-group {
    margin-bottom: 20px;
    margin-right: 10px;
  }
  
  /* Label */
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  /* Input */
  input {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease;
  }
  
  input:focus {
    border-color: #3498db;
    outline: none;
  }
  
  /* Bottone */
  .btn {
    background-color: #3498db;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #2980b9;
  }
  
  /* Lista delle persone */
  .persona-list {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
  }
  
  .persona-list li {
    background-color: #ecf0f1;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  